




/* landingheader.css */


.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}


.landing-container {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  z-index: 1;
}



.landing-image {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  transform-origin: center;
}

.background-layer {
  z-index: 1;
  top: 55px;
  transform: translateY(0);
  will-change: transform;
}

.deserthills-layer {
  z-index: 2;
  top: 20px;
  transform: translateY(calc(var(--purple-hills-offset) * 0.2));
}

.latterpurplehills-layer {
  z-index: 3;
  top: 40px;
  transform: translateY(calc(var(--purple-hills-offset) * 0.3));
}

.purplehills-layer {
  z-index: 4;
  top: 60px;
  transform: translateY(calc(var(--purple-hills-offset) * 0.4));
}

.hillhouse-layer {
  z-index: 5;
  top: 110px;
  transform: translateY(calc(var(--house-offset) * 0.5));
}

.chimneysmoke-layer {
  z-index: 6;
  top: 80px;
  transform: translateY(calc(var(--smoke-offset) * 0.6));
  animation: smokeFade 4s ease-in-out infinite;
  pointer-events: none;
}

.foreground-layer {
  z-index: 7;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

.central-header {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-align: center;
  z-index: 5;
}






/* Smoke animation */
@keyframes smokeFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.chimneysmoke-layer {
  z-index: 6;
  position: absolute;
  bottom: 0;
  opacity: 0.2;
  animation: smokeFade 4s ease-in-out infinite;
  pointer-events: none;
}




@media (max-width: 800px) {}

@media (max-width: 1200px) {
 
  .background-layer,
  .deserthills-layer,
  .latterpurplehills-layer,
  .purplehills-layer,
  .hillhouse-layer,
  .chimneysmoke-layer,
  .foreground-layer {
    display: none;
  }

 .central-header {
  margin: 0 auto;
 }


  .landing-container {
    background-image: url("../assets/parallax/fullparallax.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; 
  }
}




