






/* src/script/modal.css */



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: url("../assets/images/profileillustrations/postit.png") no-repeat center center;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    min-width: 550px;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-sizing: border-box; 
    overflow: hidden; 
}


.close-modal-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1100;
}

.close-modal-button:hover {
    color: #f00;
    background: none;
    border: 2px solid #f00;
}

.avatar-input,
.banner-input {
    width: calc(100% - 20px); 
    max-width: 70%;
    display: block;
    padding: 10px;
    margin: 15px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.clear-input-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
}

.clear-input-button:hover {
    color: #f00;
    background-color: transparent; 
}

.input-clear-button {
    background: none;
    border: 1px solid #333;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
}

.input-clear-button:hover {
    color: #f00;
    background-color: #f3f3f3;
}
