


/* src/styles/register.css  */


.register-page-wrapper {
  background-image: url("../assets/images/generalbackgroundimages/diaryopenstraight.png");
  background-size: contain;
  background-position: center;
  margin-top: 3em;
  margin: 0 auto;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-repeat: no-repeat;
}

.register-page {
  padding: 4em;
  max-width: 600px;
  background: #F9FBE3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.register-page h1 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.register-page h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("../assets/images/generalbackgroundimages/underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}







.register-page form {
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

.register-page label {
  margin-bottom: 10px;
  text-align: left;
}

.register-page input,
.register-page textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}




.register-page input,
.register-page textarea {
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
}

.register-page input:focus,
.register-page textarea:focus {
  outline: none; 
  border: 1px solid #FA9E00; 
}




.register-button, .login-button {
  width: 100%;
  margin-top: 10px;
}



.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
