


/* src/styles/yourvenues.css */



.your-venues-container {
  background-image: url("../assets/images/generalbackgroundimages/corkboard3.png");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150vh; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venues-manage-title {
  font-size: 2rem;
  margin-top: 6rem; 
  margin-bottom: 1rem;
  padding: 40px 20px;
  color: #333;
  text-align: center;
  display: block;
  width: 100%; 
}

.venues-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  background: rgba(255, 255, 255, 0.4); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.venue-card {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.venue-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.venue-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.venue-card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.venue-card p {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
}

.venue-card button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  transition: color 0.3s;
}


@media (max-width: 768px) {
  .venues-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



.venue-image-container {
  position: relative;
  text-align: center;
}

















.edit-image-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #FEC25B;
  color: #333;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.edit-image-btn:hover {
  
  background-color: #e0a800;
  color: #333;
}




.edit-btn {
  background: #FEC25B;
  color: #333;
  border: none;
  border-radius: 50%;
  padding: 6px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-btn:hover {
  background-color: #333;
  background: #FA9E00;
  color: #333;
}

.edit-btn i {
  font-size: 12px;
}



.venue-info-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* See venues Button */


.see-bookings-btn {
  background: #FEC25B;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.see-bookings-btn:hover {
  background: #FA9E00;
  color: #333;
}

/* Delete Button */

.delete-your-venue-btn {
  background-color: #EA584C;
  color: #333;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.delete-your-venue-btn:hover {
  background-color: #D32F2F;
}









/* Modals on this page: */


.venue-input {
    width: calc(100% - 20px);
    max-width: 70%;
    display: block;
    padding: 10px;
    margin: 15px auto;
    border: 2px solid #FEC25B;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.venue-update-button,
.venue-cancel-button {
    background-color: #FEC25B;
    color: #333;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.venue-update-button:hover {
    background-color: #FA9E00;
    
}

.venue-cancel-button {
    background-color: #EA584C;
    margin-left: 10px;
}


.venue-cancel-button:hover {
    background-color: #D32F2F;
}

.venue-update-button:disabled {
    background-color: #FEC25B;
    cursor: not-allowed;
}
